<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="description" content="{{page.description}}">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% include top.md %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">{{ content }}</div>
            <div class="col-xs-12 col-md-3">
                {% include lastestArticle.md %}
                {% include tags.md %}
            </div>
        </div>
    </div>
    {% include footer.md %}
     <script src="/assets/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
